
html {
    font-family: sans-serif;
}

body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
}

.lastResult {
    padding: 3px;
}

/* input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
} */

input:valid {
    border: 2px solid black;
}